@font-face {
    font-family: 'moderat_bold';
    src: url('./Moderat-Bold.woff2') format('woff2'),
         url('./Moderat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
