<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="Create normal webpages using webpack">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body style="display: none">
    <%= require('html-loader!./navigation.html') %>
    <main>
      <h1 data-t="main.title"> A title for this page </h1>
      <p> This paragraph is never tanslated </p>
    </main>
  </body>
</html>
